<div class="answers-container pageContent" *ngIf="question">
  <div class="breadcrumbs" *ngIf="question.questionSet as questionSet">
    <a [routerLink]="['/questionSetDetails', questionSet?.id]">{{questionSet?.name}}</a>
    <md-icon>keyboard_arrow_right</md-icon>
    <span class="currentLink">{{question.text}}</span>
  </div>
  <wakeup-card>
    <div class="card-header">
      <div class="title">Answers</div>
      <div class="actions">
        <button *ngIf="answers?.length" md-button mdTooltip="Delete all answers" (click)="onDeleteAnswers()"> <md-icon>delete_forever</md-icon> All Answers </button>
        <button *ngIf="!question.questionSet?.isDefault" md-button [mdMenuTriggerFor]="questionMenu" mdTooltip="More actions">
            <md-icon>more_horiz</md-icon> More
        </button>
        <md-menu #questionMenu="mdMenu">
          <button md-menu-item (click)="onDeleteQuestion()">
            <md-icon>delete_forever</md-icon> Delete Question </button>
        </md-menu>
      </div>
    </div>
    <div class="card-body">
      <div class="summary">
        <div class="name">
          <label> Question </label> {{question?.text}}
        </div>
        <div class="quote" *ngIf="question.quote">
          <label>Quote </label>
          <a [routerLink]="['/quoteDetails', question.quote?.id, question.quote?.topic]" mdTooltip="See quote">
            <md-icon>format_quote</md-icon> {{question.quote?.text}}</a>
        </div>
      </div>
      <div class="answers">
        <span class="noAnswersMessage" *ngIf="!answers?.length">No answers available. <br>Please, click the + button to add an answer</span>
        <div *ngFor="let answerGroup of answers">
          <span class="group">{{answerGroup.createDate}}</span>
          <ul>
            <li *ngFor="let answer of answerGroup.answers">
              <span class="text">{{answer.text}}</span>
              <div class="actions">
                <button color="accent" md-icon-button (click)="editAnswer(answer)" mdTooltip="Edit Answer"> <md-icon>edit</md-icon></button>
                <button color="warn" md-icon-button (click)="onDeleteAnswer(answer)" mdTooltip="Delete Answer"> <md-icon>delete_forever</md-icon></button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </wakeup-card>
</div>
<button mdRipple (click)="createAnswer()" mdTooltip="Add Answer" [mdTooltipClass]="'tooltip'" class="addAnswerButton">
 <md-icon>add</md-icon>
</button>

<button mdRipple *ngIf="prevQuestionId" [routerLink]="['/answers', prevQuestionId]" title="previous question" class="prevQuestionButton"
  md-icon-button>
 <md-icon>keyboard_arrow_left</md-icon>
</button>

<button mdRipple *ngIf="nextQuestionId" [routerLink]="['/answers', nextQuestionId]" title="next question" class="nextQuestionButton"
  md-icon-button>
 <md-icon>keyboard_arrow_right</md-icon>
</button>
<md-spinner class="spinner" *ngIf="isLoading$ | async"></md-spinner>