@import "~../../common/constants";
.answers-container {
  min-height: 70vh;
}
.summary {
  display: flex;
  flex-direction: column;
  div.name {
    padding-bottom: 16px;
  }
  > div {
    display: flex;
    flex-direction: column;
    label {
      font-weight: bold;
      margin-bottom: 4px;
      color: $primary;
    }
  }
}

.answers {
  border-top: 1px solid rgba(0, 0, 0, .06);
  margin-top: 26px;
  padding-top: 16px;
  .noAnswersMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
    font-size: 17px;
  }
  .group {
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 16px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .06);
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      margin: 0;
      padding: 10px;
      border-color: rgba(0, 0, 0, .06);
      color: rgba(0, 0, 0, .74);
      @media (min-width: 800px) {
        flex-direction: row;
      }
      .text {
        flex: 1;
        text-align: justify;
        white-space: pre-line;
      }
    }
  }
  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    @media (min-width: 800px) {
      flex-direction: row;
    }
    .time {
      align-self: center;
      font-size: 12px;
      margin-left: 16px;
    }
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
  }
}

.addAnswerButton {
  z-index: 2220;
  position: fixed;
  bottom: 83px;
  left: calc(100vw - 83px);
}

.prevQuestionButton {
  z-index: 20;
  position: fixed;
  bottom: calc(100vh/2);
  left: 26px;
  display: flex;
  justify-content: center;
}

.prevQuestionButton mat-icon,
.nextQuestionButton mat-icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.nextQuestionButton {
  z-index: 20;
  position: fixed;
  bottom: calc(100vh/2);
  left: calc(100vw - 96px);
  display: flex;
  justify-content: center;
}

.quote {
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $primary;
  }
}