@import "~../../common/constants";
.answers-container {
  min-height: 70vh;
}

.card-header {
  display: flex;
  align-items: center;
  width: 100%;
  .title {
    flex: 1;
    word-wrap: break-word;
    word-break: break-all;
  }
  .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  div.name {
    padding-bottom: 16px;
  }
  > div {
    display: flex;
    flex-direction: column;
    label {
      font-weight: bold;
      margin-bottom: 4px;
      color: $primary;
    }
  }
}

.answers {
  border-top: 1px solid rgba(0, 0, 0, .06);
  margin-top: 26px;
  padding-top: 16px;
  .noAnswersMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
    font-size: 17px;
  }
  .group {
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 16px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .06);
    li {
      display: flex;
      align-items: center;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      margin: 0;
      padding: 10px;
      border-color: rgba(0, 0, 0, .06);
      color: rgba(0, 0, 0, .74);
      .text {
        flex: 1;
      }
    }
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
  }
}

.addAnswerButton {
  z-index: 2220;
  position: sticky;
  width: 65px;
  height: 65px;
  bottom: 16px;
  left: calc(100vw - 96px);
  border-radius: 59px;
  background-color: orange;
  border: none;
  box-shadow: 0 4px 6px -3px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  user-select: none;
  cursor: pointer;
}

.prevQuestionButton {
  z-index: 20;
  position: sticky;
  bottom: calc(100vh/2);
  left: 26px;
  display: flex;
  justify-content: center;
}

.prevQuestionButton md-icon,
.nextQuestionButton md-icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.nextQuestionButton {
  z-index: 20;
  position: sticky;
  bottom: calc(100vh/2);
  left: calc(100vw - 96px);
  display: flex;
  justify-content: center;
}

.quote {
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $primary;
  }
}