<div class="answers-container" *ngIf="question">
  <div class="breadcrumbs" *ngIf="question.questionSet as questionSet">
    <a [routerLink]="['/questionSetDetails', questionSet?.id]">{{questionSet?.name}}</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span class="currentLink">{{question.text}}</span>
  </div>
  <app-card>
    <div class="card-header">
      <div class="title">Answers</div>
      <div class="actions">
        <button *ngIf="answers?.length" mat-button matTooltip="Delete all answers" (click)="onDeleteAnswers()"> <mat-icon>delete_forever</mat-icon> All Answers </button>
        <button *ngIf="!question.questionSet?.isDefault" mat-button [matMenuTriggerFor]="questionMenu" matTooltip="More actions">
            <mat-icon>more_horiz</mat-icon> More
        </button>
        <mat-menu #questionMenu="matMenu">
          <button mat-menu-item (click)="onDeleteQuestion()">
            <mat-icon>delete_forever</mat-icon> Delete Question </button>
        </mat-menu>
      </div>
    </div>
    <div class="card-body">
      <div class="summary">
        <div class="name">
          <label> Question </label> {{question?.text}}
        </div>
        <div class="quote" *ngIf="question.quote">
          <label>Quote </label>
          <a [routerLink]="['/quoteDetails', question.quote?.id, question.quote?.topic]" matTooltip="See quote">
            <mat-icon>format_quote</mat-icon> {{question.quote?.text}}</a>
        </div>
      </div>
      <div class="answers">
        <span class="noAnswersMessage" *ngIf="!answers?.length">No answers available. <br>Please, click the + button to add an answer</span>
        <div *ngFor="let answerGroup of answers">
          <span class="group">{{answerGroup.date}}</span>
          <ul>
            <li *ngFor="let answer of answerGroup.answers">
              <div class="content">
                <span class="text">{{answer.text}}</span>
                <span class="time">at {{answer.createDate | date:'shortTime' }}</span>
              </div>
              <div class="actions">
                <button color="accent" mat-icon-button (click)="editAnswer(answer)" matTooltip="Edit Answer"> <mat-icon>edit</mat-icon></button>
                <button color="warn" mat-icon-button (click)="onDeleteAnswer(answer)" matTooltip="Delete Answer"> <mat-icon>delete_forever</mat-icon></button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </app-card>
</div>
<button mat-fab matRipple (click)="createAnswer()" matTooltip="Add Answer" [matTooltipClass]="'tooltip'" class="addAnswerButton">
 <mat-icon>add</mat-icon>
</button>

<button mat-button matRipple *ngIf="prevQuestionId" [routerLink]="['/answers', prevQuestionId]" title="previous question" class="prevQuestionButton"
  mat-icon-button>
 <mat-icon>keyboard_arrow_left</mat-icon>
</button>

<button mat-button matRipple *ngIf="nextQuestionId" [routerLink]="['/answers', nextQuestionId]" title="next question" class="nextQuestionButton"
  mat-icon-button>
 <mat-icon>keyboard_arrow_right</mat-icon>
</button>
<mat-spinner class="spinner" *ngIf="isLoading$ | async"></mat-spinner>