<div class="answers pageContent" *ngIf="question$ | async as question">
  <wakeup-card>
    <div class="card-header">
      <div class="title">Answers</div>
    </div>
    <div class="card-body">
      <div class="summary">
        {{question?.text}} {{question.quote?.text}}
      </div>
      <div *ngFor="let answerGroup of question.answers">
        {{answerGroup.createDate}}
        <ul>
          <li *ngFor="let answer of answerGroup.answers"> {{answer.text}} </li>
        </ul>
      </div>
    </div>
  </wakeup-card>
</div>