<header class="header">
  <nav class="main-nav" role="navigation">
    <div class="logo" role="banner">
      <div><img src="/../../../assets/images/heart.png" alt='logo'></div>
      <div class="appLogo">WakeupCall</div>
    </div>
    <button md-button md-raised-button class="login" routerLink="/login">Login</button>
  </nav>
  <section class="intro">
    <header>
      <h1 class="appName">Wakeup Call App</h1>
      <h1 class="motto">Enrich your life through the power of questions</h1>
      <button md-button md-raised-button class="createAccountButton" role="button">Create an account</button>
    </header>
  </section>
</header>
<main role="main">
  <section id="About">
    <h1 class="sectionTitle">Why Wakeup Call App?</h1>
    <div class="content">
      <ul>
        <li><strong>Cultivate a growth mindset.</strong> Whenever something impacts us, either through circumstances, thoughts
          or feelings, we can either make a choice, or react.
          <br>When we make a choice, we ask questions like: "What do I want? What can I learn?", which usually move us forward.
          <br>When we react, we ask questions like: "Whose fault is it? What's wrong with me?", which usually get us stuck.
        </li>
         <li><strong>Consciously create the world of your choosing.</strong> Using questions as a powerful tool to adjust direction
          can really impact your life in a positive way.
        </li>
      </ul>
      <ul>
        <li><strong>Reflect and find clarity</strong>. Take the time to get clear on what matters to you, or just express appreciation
          for life through writing.
        </li>
        <li><strong>Gain a better understanding of yourself.</strong>. Through reading your answers, you can observe changes
          happening over time, get an idea about how you are thinking, and what effect different thoughts and beliefs have
          on you.
        </li>
      </ul>
    </div>
  </section>
  <section id="Features">
    <h1 class="sectionTitle">What can you do with Wakeup Call app?</h1>
    <div class="content">
      <div class="practiceAndCreate">
        <i class="material-icons">extension</i>
        <ul>
          <li>
            Practice question sets proposed by us, or create and practice your own
          </li>
          <li>Store your favorite quotes</li>
          <li>
            Group your question sets and quotes into topics, so that you can better focus on certain areas of your life
          </li>
        </ul>
      </div>
      <div class="quotes">
        <i class="material-icons">lightbulb_outline</i>
        <ul>
          <li>Add powerful quotes to questions to gain more insights</li>
        </ul>
      </div>
      <div class="answers">
        <i class="material-icons">list</i>
        <ul>
          <li>Keep track of all your answers</li>
          <li>Search through your collection of inspiring quotes</li>
        </ul>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="container">
    <p>WakeupCall App | 2017 | <a href="https://twitter.com/AlinaMihai90">Twitter</a> | <a href="https://github.com/WakeUpCallApp/wakeup/issues">Issues</a>
    </p>
  </div>
</footer>
