<mat-card class="associateQuestionSet mat-elevation-z3">
  <mat-card-header>
    <h1 class="cardTitle">Add / Remove Question Sets</h1>
  </mat-card-header>
  <mat-card-content class="content">
    <section class="row questionSetsDropDown">
      <mat-input-container>
        <input matInput name="searchText" 
        placeholder="Select question set" 
        [matAutocomplete]="auto" 
        [formControl]="questionSetCtrl">
      </mat-input-container>
      <mat-autocomplete #auto="matAutocomplete" mat-min-length="0">
        <mat-option (onSelectionChange)="addQuestionSet($event.source.value)" 
        *ngFor="let questionSet of filteredQuestionSets | async" [value]="questionSet.name" matTooltip="Add">
          {{ questionSet.name }}
        </mat-option>
      </mat-autocomplete>
      <ul class="added">
        <li class="item" *ngFor="let selected of selected" (click)="removeQuestionSet(selected)" matTooltip="Remove">
          <span class="name truncate">{{selected}}</span>
          <span><mat-icon>clear</mat-icon></span>
        </li>
      </ul>
    </section>
    <!-- <button class="associateQuestionSetButton" mat-button mat-raised-button (click)="handleClick()">Update</button> -->
  </mat-card-content>
</mat-card>