@import "~../../constants";
:host {
    margin: 26px;
    .mat-card>:first-child {
        margin-top: -43px;
    }
}

md-card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -43px 15px 0;
    border-radius: 3px;
    padding: 26px;
    height: 50px;
    background-color: lighten($primary, 5%);
    color: white;
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    font-size: 18px;
}

md-card-title {
    font-size: 18px;
    margin-bottom: 0;
}

md-card-content {
    margin-top: 36px;
    font-size: 16px;
}
