@import "~../../../../common/constants";
.editQuestion {
    margin-bottom: 26px;
    .content {
        display: flex;
        flex-direction: column;
    }
    .content .questionText {
        margin-bottom: 26px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        md-input-container {
            width: 100%;
        }
    }
}

.updateButton:not(:disabled) {
    background-color: $accent;
    margin-left: 8px;
}