<md-sidenav-container class="container">
    <md-sidenav #sidenav [opened]="isOpen" mode="side" class='mat-elevation-z5'>
        <div class="sidenav-content" class="sidenav">
            <div class="logo">
                <img src="/../../../assets/images/heart.png" alt='logo'>
                <span class="appName">WakeupCallApp</span>
            </div>
            <hr>
            <ul class='globalMenuLinks'>
                <li><a routerLink="/questionSets" routerLinkActive="activeLink"> <i  class="material-icons">list</i> Question Sets</a></li>
                <li><a><i  class="material-icons">lightbulb_outline</i> Topics</a></li>
                <li><a routerLink="/newQuestionSet" routerLinkActive="activeLink"> <i class="material-icons">create</i> New Question Set</a></li>
                <li><a><i  class="material-icons">create</i> New Topic</a></li>

            </ul>
        </div>
    </md-sidenav>
    <ng-content></ng-content>
</md-sidenav-container>