@import "~../../constants";
:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

md-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.sidenav {
    width: 260px;
    padding: 8px;
}

.mat-sidenav-container {
    flex: 1;
     background: #f5f5f5;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    img {
        height: 30px;
    }
    .appName {
        margin-left: 8px;
        font-size: 18px;
    }
}

.globalMenuLinks {
    padding: 0px;
    list-style: none;
    li {
        margin-bottom: 8px;
        width: 230px;
    }
    li a {
        padding: 16px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        i {
            margin-right: 8px;
        }
    }
    li a:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }
    li a.activeLink {
        background-color: $primary;
        color: white;
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
    }
}