@import '~../../../common/constants';

.title {
    display: flex;
    margin-top: 0;
    margin-bottom: 46px;
    font-weight: bold;
    font-size: 17px;
    mat-icon {
        margin-right: 8px;
    }
}
.message{
    margin-bottom: 46px;
}

.okButton {
    background-color: $warn;
    color: white;
}