@import "~../../common/constants";

form {
    display: flex;
    flex-direction: column;
    mat-input-container {
        margin-bottom: 26px;
    }
    .saveChanges {
        align-self: left;
    }
    .saveChanges:not(:disabled) {
        background-color: $accent; 
    }
}
.errorMessage {
    color: $warn;
}
