<mat-card class="commentList mat-elevation-z3">
  <mat-card-header>
    <div class="title">
      <h1 class="cardTitle">Comments</h1>
    </div>
  </mat-card-header>
  <mat-card-content class="list">
    <ul>
      <li *ngFor="let comment of comments" tabindex="0">
        <span class="text">{{comment.text}}</span>
        <span tabindex="0" role="button" aria-label="remove comment" (keyup.enter)="onDelete(comment)" class="remove" matTooltip="Delete Comment"
          (click)="onDelete(comment)"><mat-icon color="warn">delete_forever</mat-icon></span>
      </li>
    </ul>
  </mat-card-content>
</mat-card>