@import "~../../../../common/constants";
.delimiterLoginMethod {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 32px;
    color: gray;
}

i.fa-google-plus {
    margin-left: 0px;
    border-right: 0.5px solid white;
    margin-right: 8px;
    padding: 10px;
}

form.signupForm {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    button {
        width: 196px;
        align-self: center;
    }
    button.signupButton:not(:disabled) {
        background-color: $accent;
    }
    mat-input-container {
        margin-bottom: 10px;
    }
    .errorMessage {
        color: $warn;
        padding-bottom: 10px;
    }
    .spinner {
        width: 50px !important;
        height: 50px !important;
        position: relative !important;
        align-self: auto;
    }
}

div.google {
    padding: 30px;
    button {
        color: #fff;
        background-color: #dd4b39;
        border-color: #c53727;
        padding-left: 0px;
    }
}

.usefulLinks {
    margin-top: 20px;
}

.usefulLinks a {
    color: black;
}

.usefulLinks a:hover {
    color: $primary;
}