<app-card>
  <div class="card-header">Create Topic</div>
  <div class="card-body">
    <form class="createTopicForm" #topicForm='ngForm'>
      <mat-input-container floatPlaceholder="always" dividerColor="{{ (topicNameVar.touched || topicNameVar.dirty) && !topicNameVar.valid ? 'warn' : 'primary' }}">
        <input #topicNameVar placeholder="Name" type="text" maxlength="200" #nameInputHint matInput name="title" required [(ngModel)]="topic.title">
        <mat-error>Name is required</mat-error>
        <mat-hint align="end" aria-live="polite"> {{nameInputHint.value.length}} /200 </mat-hint>
      </mat-input-container>
      <mat-input-container floatPlaceholder="always">
        <textarea matInput #descriptionInputHint maxlength="500" placeholder="Description" name="description" cols="30" rows="5"
          [(ngModel)]="topic.description">
          </textarea>
        <mat-hint align="end" aria-live="polite"> {{descriptionInputHint.value.length}} /500 </mat-hint>
      </mat-input-container>
    </form>
  </div>
  <div class="card-footer">
    <button *ngIf="!isCreating" mat-button mat-raised-button [disabled]="!topicForm.valid" class="createButton" (click)="createTopic()">
    Create
    </button>
    <mat-spinner class="spinner" *ngIf="isCreating"></mat-spinner>
  </div>
</app-card>