@import "~../../common/constants";
.newTopic {
    .createTopicForm {
        display: flex;
        flex-direction: column;
        mat-input-container {
            margin-bottom: 26px;
        }
    }
}

.card-footer {
    .createButton {
        width: 200px;
    }
    .createButton:not(:disabled) {
        background-color: $accent;
    }
    mat-progress-spinner {
        height: 50px;
        align-self: center;
    }
}