<mat-toolbar *ngIf="loggedUser" class="mat-elevation-z5">
  <div class="left large-screen">
    <a routerLink="/questionSets" class="logo">
        <img src="/../../../assets/images/heart.png" alt='logo'>
        <span class="appName">WakeupCallApp</span>
    </a>
    <nav>
      <ul class='globalMenuLinks'>
        <li>
          <a routerLink="/questionSets" routerLinkActive="activeLink"> 
         Question Sets
        </a>
        </li>
        <li>
          <a routerLink="/topics" routerLinkActive="activeLink">
           Topics
          </a>
        </li>
        <li>
          <a routerLink="/newQuestionSet" routerLinkActive="activeLink"> 
        New Question Set
        </a>
        </li>
        <li>
          <a routerLink="/newTopic" routerLinkActive="activeLink">
          New Topic
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="left small-screen">
    <div class="openMenu">
      <button (click)="toggleSideNav()" mat-mini-fab matTooltip="Show/Hide menu">
      <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div class="right">
    <div class="userProfile">
      <button mat-button [matMenuTriggerFor]="menu"><span class="greeting">Hello</span> {{loggedUser?.name}}
        <mat-icon>keyboard_arrow_down</mat-icon> 
        </button>
    </div>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink='/profile'>
        <div class="menu-section">
              <mat-icon>perm_identity</mat-icon> Profile
        </div>
     </button>
      <button mat-menu-item>
        <div class="menu-section">
              <mat-icon>language</mat-icon> Change Language
        </div>
     </button>
    </mat-menu>
    <button mat-button (click)="logoutUser()">Logout <i class="fa fa-sign-out"></i></button>
  </div>
</mat-toolbar>