@import "~../../../../common/constants";
.addComment {
    margin-bottom: 26px;
    .content {
        display: flex;
        flex-direction: column;
    }
    .content .commentText {
        margin-bottom: 26px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 1000px) {
            flex-direction: row;
            align-items: center;
            md-input-container {
                width: 90%;
            }
        }
        md-input-container {
            width: 100%;
        }
    }
    .addCommentButton {
        @media (min-width: 1000px) {
            margin-left: 26px;
        }
    }
    .addCommentButton:not(:disabled) {
        background-color: $accent;
    }
    
}