<div class="newQuote" *ngIf="topic$ | async as topic">
  <div class="breadcrumbs">
    <a [routerLink]="['/topicDetails', topic?.id]">{{topic?.name}}</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a [routerLink]="['/quotes', topic?.id]"> Inspiration Page</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span class="currentLink">New Quote</span>
  </div>
  <app-card>
    <div class="card-header">Create Quote <small>{{topic.name}}</small></div>
    <div class="card-body">
      <form class="createQuoteForm" #quoteForm='ngForm'>
        <mat-input-container floatPlaceholder="always">
          <textarea [(ngModel)]="quote.text" #textVar maxlength="1000" placeholder="Text" type="text" matInput name="text" required></textarea>
          <mat-error>Text is required</mat-error>
          <mat-hint align="end" aria-live="polite"> {{textVar.value.length}} / 1000 </mat-hint>
        </mat-input-container>

        <mat-input-container floatPlaceholder="always">
          <input [(ngModel)]="quote.author" list="suggestions" autocomplete="off" #authorVar maxlength="200" placeholder="Author" type="text"
            matInput name="author">
          <datalist id="suggestions">
            <select>
                    <option *ngFor="let suggestion of authors$ | async">{{suggestion}}</option>
                </select>
          </datalist>
          <mat-hint align="end" aria-live="polite">
            {{authorVar.value.length}} / 200
          </mat-hint>
        </mat-input-container>

        <mat-input-container floatPlaceholder="always">
          <input [(ngModel)]="quote.source" list="sourceSuggestions" autocomplete="off" #sourceVar placeholder="Source" type="text"
            matInput name="source" maxlength="200">
          <datalist id="sourceSuggestions">
            <select>
                    <option *ngFor="let source of sources$ | async" >{{source}}</option>
                </select>
          </datalist>
          <mat-hint align="end" aria-live="polite">
            {{sourceVar.value.length}} / 200
          </mat-hint>
        </mat-input-container>
      </form>
    </div>
    <div class="card-footer">
      <button mat-button mat-raised-button 
      [disabled]="!quoteForm.valid || (isLoading$ | async)" 
      class="createButton" 
      (click)="create()">
        Create
    </button>
    </div>
  </app-card>
</div>
<mat-progress-spinner mode="indeterminate" class="spinner" *ngIf="isLoading$ | async"></mat-progress-spinner>