<div class="newQuestionSet pageContent">
  <wakeup-card>
    <div class="card-header">Create Question Set</div>
    <div class="card-body">
      <form class="createQuestionSetForm" #qsForm='ngForm'>
        <md-input-container floatPlaceholder="always" dividerColor="{{ (qsNameVar.touched || qsNameVar.dirty) && !qsNameVar.valid ? 'warn' : 'primary' }}">
          <input #qsNameVar placeholder="Name" type="text" mdInput name="name" required [(ngModel)]="questionSet.name">
          <md-error>Name is required</md-error>
        </md-input-container>
        <md-input-container floatPlaceholder="always">
          <textarea mdInput placeholder="Description" name="description" cols="30" rows="5" [(ngModel)]="questionSet.description">
    </textarea>
        </md-input-container>
      </form>
    </div>
    <div class="card-footer">
      <button *ngIf="!isCreating" md-button md-raised-button [disabled]="!qsForm.valid" class="createButton" (click)="createQuestionSet()">
    Create
    </button>
      <md-spinner class="spinner" *ngIf="isCreating"></md-spinner>
    </div>
  </wakeup-card>
</div>