@import "~../../common/constants";
.newQuestionSet {
    overflow: auto;
    height: 100%;
    max-height: 93vh;
    margin: 0px;
    padding: 0px;
    .createQuestionSetForm {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        md-input-container {
            margin-bottom: 26px;
        }
        .createButton {
            max-width: 200px;
        }
        .createButton:not(:disabled) {
            background-color: $accent;
        }
    }
}