<div class="quoteDetails pageContent">
  <div class="breadcrumbs" *ngIf="topic">
    <a [routerLink]="['/topicDetails', topic?.id]">{{topic?.name}}</a>
    <md-icon>keyboard_arrow_right</md-icon>
    <a [routerLink]="['/quotes', topic?.id]"> Inspiration Page</a>
    <md-icon>keyboard_arrow_right</md-icon> <span class="currentLink">Quote Details</span>
  </div>
  <wakeup-card>
    <div class="card-header">
      <div class="title">Quotes Details</div>
      <div class="actions" *ngIf="!topic?.isDefault">
          <button md-icon-button mdTooltip="Delete Quote" (click)="onDeleteQuote()"> <md-icon>delete_forever</md-icon></button>
      </div>
    </div>
    <div class="card-body" *ngIf="updateObject as quote">
      <div class="row readOnly">
        <label> Topic </label> {{topic?.name}}
      </div>
      <section class="quoteForm" *ngIf="!quote.topic?.isDefault;else readOnlyQuote">
        <form class="editQuoteForm" #quoteForm='ngForm'>
          <md-input-container floatPlaceholder="always">
            <textarea class="quoteText" [(ngModel)]="quote.text" #textVar maxlength="1000" placeholder="Text" type="text" mdInput name="text" required></textarea>
            <span mdSuffix><md-icon color="accent">edit</md-icon></span>
            <md-error>Text is required</md-error>
            <md-hint align="end" aria-live="polite"> {{textVar.value.length}} / 1000 </md-hint>
          </md-input-container>

          <md-input-container floatPlaceholder="always">
            <input [(ngModel)]="quote.author" #authorVar list="suggestions" autocomplete="off" maxlength="200" placeholder="Author" type="text"
              mdInput name="author">
            <span mdSuffix><md-icon color="accent">edit</md-icon></span>
            <datalist id="suggestions">
              <select>
                    <option *ngFor="let suggestion of authors$ | async">{{suggestion}}</option>
                </select>
            </datalist>
            <md-hint align="end" aria-live="polite">
              {{authorVar.value.length}} / 200
            </md-hint>
          </md-input-container>

          <md-input-container floatPlaceholder="always">
            <input [(ngModel)]="quote.source" #sourceVar list="sourceSuggestions" autocomplete="off" placeholder="Source" type="text"
              mdInput name="source" maxlength="200">
            <span mdSuffix><md-icon color="accent">edit</md-icon></span>
            <datalist id="sourceSuggestions">
              <select>
                    <option *ngFor="let source of sources$ | async" >{{source}}</option>
                </select>
            </datalist>
            <md-hint align="end" aria-live="polite">
              {{sourceVar.value.length}} / 200
            </md-hint>
          </md-input-container>
        </form>
      </section>
      <ng-template class="readOnly" #readOnlyQuote>
        <div class="row readOnly">
          <label>Text</label> {{currentQuote.text}}
        </div>
        <div class="row readOnly" *ngIf="currentQuote.author"><label>Author</label> {{currentQuote.author}}</div>
        <div class="row readOnly" *ngIf="currentQuote.source"><label>Source</label> {{currentQuote.source}}</div>
      </ng-template>
    </div>
  </wakeup-card>
  <section class="question">
   <wakeup-quote-questions [questions]="currentQuote.questions" (update)="updateQuoteOnQuestionsUpdate($event)"></wakeup-quote-questions>
  </section>
  <section class="newComment" *ngIf="newComment">
    <wakeup-add-comment (create)="addComment($event)" [commentObject]="newComment"></wakeup-add-comment>
  </section>
  <section class="commentList" *ngIf="(comments$ | async) as comments">
    <wakeup-comment-list *ngIf="comments.length" [comments]="comments" (delete)="onDeleteComment($event)">
    </wakeup-comment-list>
  </section>
</div>
<md-spinner class="spinner" *ngIf="isLoading$ | async"></md-spinner>