<div class="breadcrumbs" *ngIf="topic">
  <a [routerLink]="['/topicDetails', topic?.id]">{{topic?.name}}</a>
  <mat-icon>keyboard_arrow_right</mat-icon>
  <a [routerLink]="['/quotes', topic?.id]"> Inspiration Page</a>
  <mat-icon>keyboard_arrow_right</mat-icon> <span class="currentLink">Quote Details</span>
</div>
<app-card>
  <div class="card-header">
    <div class="title">Quotes Details</div>
    <div class="actions" *ngIf="!topic?.isDefault">
      <button mat-icon-button matTooltip="Delete Quote" (click)="onDeleteQuote()"> <mat-icon>delete_forever</mat-icon></button>
    </div>
  </div>
  <div class="card-body" *ngIf="updateObject as quote">
    <div class="row readOnly">
      <label> Topic </label> {{topic?.name}}
    </div>
    <section class="quoteForm" *ngIf="!quote.topic?.isDefault;else readOnlyQuote">
      <form class="editQuoteForm" [formGroup]="quoteForm">
        <mat-input-container floatPlaceholder="always">
          <textarea 
          matInput 
          type="text"
          class="quoteText"
          placeholder="Text"  
          maxlength="1000"
          required
          formControlName="text"
          #textVar></textarea>
          <span matSuffix><mat-icon color="accent">edit</mat-icon></span>
          <mat-error>Text is required</mat-error>
          <mat-hint align="end" aria-live="polite"> {{textVar.value.length}} / 1000 </mat-hint>
        </mat-input-container>

        <mat-input-container floatPlaceholder="always">
          <input 
          matInput  
          type="text" 
          placeholder="Author" 
          autocomplete="off"
          list="suggestions"    
          maxlength="200"
          #authorVar
          formControlName="author">
          <span matSuffix><mat-icon color="accent">edit</mat-icon></span>
          <datalist id="suggestions">
            <select>
                    <option *ngFor="let suggestion of authors$ | async">{{suggestion}}</option>
                </select>
          </datalist>
          <mat-hint align="end" aria-live="polite">
            {{authorVar.value.length}} / 200
          </mat-hint>
        </mat-input-container>

        <mat-input-container floatPlaceholder="always">
          <input 
          matInput 
          type="text" 
          placeholder="Source" 
          list="sourceSuggestions" 
          autocomplete="off"  
          maxlength="200"
          #sourceVar
          formControlName="source">
          <span matSuffix><mat-icon color="accent">edit</mat-icon></span>
          <datalist id="sourceSuggestions">
            <select>
                    <option *ngFor="let source of sources$ | async" >{{source}}</option>
                </select>
          </datalist>
          <mat-hint align="end" aria-live="polite">
            {{sourceVar.value.length}} / 200
          </mat-hint>
        </mat-input-container>
      </form>
    </section>
    <ng-template class="readOnly" #readOnlyQuote>
      <div class="row readOnly">
        <label>Text</label> {{currentQuote.text}}
      </div>
      <div class="row readOnly" *ngIf="currentQuote.author"><label>Author</label> {{currentQuote.author}}</div>
      <div class="row readOnly" *ngIf="currentQuote.source"><label>Source</label> {{currentQuote.source}}</div>
    </ng-template>
  </div>
</app-card>
<section class="question">
  <app-quote-questions [questions]="currentQuote.questions" (update)="updateQuoteOnQuestionsUpdate($event)"></app-quote-questions>
</section>
<section class="newComment" *ngIf="newComment">
  <app-add-comment (create)="addComment($event)" [commentObject]="newComment"></app-add-comment>
</section>
<section class="commentList" *ngIf="(comments$ | async) as comments">
  <app-comment-list *ngIf="comments.length" [comments]="comments" (delete)="onDeleteComment($event)">
  </app-comment-list>
</section>
<mat-spinner class="spinner" *ngIf="isLoading$ | async"></mat-spinner>