@import "~../../common/constants";
.card-header {
    display: flex;
    align-items: center;
    width: 100%;
    .title {
        flex: 1;
        word-wrap: break-word;
        word-break: break-all;
    }
}

.editQuoteForm {
    display: flex;
    flex-direction: column;
    md-input-container {
        margin-bottom: 26px;
    }

    .quoteText {
        min-height: 100px;
    }
}

.readOnly {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
    label {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 4px;
        color: $primary;
    }
}