@import "~../../common/constants";
.topicDetails {
    .summary {
        .card-header {
            display: flex;
            align-items: center;
            width: 100%;
            .title {
                flex: 1;
                word-wrap: break-word;
                word-break: break-all;
            }
        }
        .editable {
            display: flex;
            flex-direction: column;
        }

        .readOnly {
            display: flex;
            flex-direction: column;
            div.name {
                padding-bottom: 16px;
            }
            > div {
              display: flex;
              flex-direction: column;

              label {
                  font-size: 12px;
                  font-weight: bold;
                  margin-bottom: 4px;
                  color: $primary;
              }
            }
        }
    }
}