<div class="answers mat-elevation-z2">
    <div class="group" *ngIf="currentGroup">
        <div class="navigation">
            <span class="dateText">{{currentGroup.date}}</span>
            <mat-icon
            tabindex="0"
            role="button"
            aria-label="see previous answer"
            (keyup.enter)="getPrevSession(i)"
            (click)="getPrevSession(i)" 
            [ngClass]="{'disabled': !answers[i+1]}" 
             title="Previous">keyboard_arrow_left</mat-icon>
            <mat-icon 
            tabindex="0"
            role="button"
            aria-label="see next answer"
            (keyup.enter)="getNextSession(i)"
            (click)="getNextSession(i)"
            [ngClass]="{'disabled': !answers[i-1]}" title="Next">keyboard_arrow_right</mat-icon>
        </div>
        <ul class="list">
            <li *ngFor="let answer of currentGroup.answers">
                <span class="text">{{answer.text}}</span>
                <span class="time">
                    {{answer.createDate | date:'shortTime' }}
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="noAnswers" *ngIf="!currentGroup">
    No answers available
</div>