@import "~../../common/constants";
.questionSetDetails {
    .summary {
        .card-header {
            display: flex;
            align-items: center;
            width: 100%;
            .title {
                flex: 1;
            }
        }
        .card-body {
            display: flex;
            flex-direction: column;
        }
        .practiceQuestionSetButton {
            background-color: $accent;
            border-radius: 5px;
        }
    }
    .addQuestion {
        margin-bottom: 26px;
        .add {
            display: flex;
            align-items: center;
            flex-direction: column;
            @media(min-width: 1000px) {
                flex-direction: row;
            }
            md-input-container {
                width: 90%;
            }
        }
        .addQuestionButton {
            margin-left: 26px;
        }
        .addQuestionButton:not(:disabled) {
            background-color: $accent;
        }
    }
    .questionList {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: flex;
                align-items: center;
                min-height: 60px;
            }
        }
        .title {
            flex: 1;
        }
        .title > h1 {
            float: left;
        }
        .allQuestionsCheck {
            display: flex;
            align-items: center;
            span {
                margin-left: 16px;
                font-weight: normal;
                font-size: 14px;
                flex: 1;
            }
        }
        .questionTitle {
            flex: 1;
            word-break: break-all;
            margin-left: 16px;
        }
        .deleteQuestions:not(:disabled) {
            background-color: $accent;
        }
    }
    .mat-list {
        max-width: 800px;
        margin: 20px 20px 0 0;
    }
}