@import "~../../common/constants";
.questionSetDetails {
    .summary {
        .card-header {
            display: flex;
            align-items: center;
            width: 100%;
            .title {
                flex: 1;
            }
        }
        .card-body {
            display: flex;
            flex-direction: column;
        }
        .practiceQuestionSetButton {
            background-color: $accent;
            border-radius: 5px;
        }
    }

    .newQuestion {
        margin-bottom: 26px;
    }
    
}