<mat-card class="addQuestion mat-elevation-z3">
  <mat-card-header>
    <h1 class="cardTitle">Add Question</h1>
  </mat-card-header>
  <mat-card-content class="content">
    <section class="row questionText">
      <mat-input-container floatPlaceholder="always">
        <textarea #characterCountInputHint matInput maxlength="200" type="text" placeholder="Text" rows="3" [(ngModel)]="question.text">
      </textarea>
        <mat-hint align="end" aria-live="polite">
          {{characterCountInputHint.value.length}} / 200
        </mat-hint>
      </mat-input-container>
      <button class="addQuestionButton" mat-button mat-raised-button [disabled]="!question.text.trim()" (click)="handleClick()">Create</button>
    </section>
    <section class="row questionQuote">
      <div class="noQuote" *ngIf="!question.quote">
        Associate a quote
        <button 
         mat-mini-fab 
         (click)="openQuotesBrowser(question)"
         matTooltip="Attach Quote"><mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="hasQuote truncate" *ngIf="question.quote" (click)="removeQuote()" matTooltip="Remove Quote">
        <blockquote>{{selectedQuoteText}}</blockquote>
        <span class="remove">
          <mat-icon>clear</mat-icon>
        </span>
      </div>
    </section>
  </mat-card-content>
</mat-card>