<md-card class="addQuestion mat-elevation-z3">
  <md-card-header>
    <h1 class="cardTitle">Add Question</h1>
  </md-card-header>
  <md-card-content class="content">
    <section class="row questionText">
      <md-input-container floatPlaceholder="always">
        <textarea #characterCountInputHint mdInput maxlength="200" type="text" placeholder="Text" rows="3" [(ngModel)]="question.text">
      </textarea>
        <md-hint align="end" aria-live="polite">
          {{characterCountInputHint.value.length}} / 200
        </md-hint>
      </md-input-container>
      <button class="addQuestionButton" md-button md-button-raised [disabled]="!question.text.trim()" (click)="handleClick()">Create</button>
    </section>
    <section class="row questionQuote">
      Associate a quote <button md-mini-fab md-button md-button-raised (click)="openQuotes()"><md-icon>add</md-icon></button>
    </section>
  </md-card-content>
</md-card>