@import "~../../../../common/constants";
.addQuestion {
    margin-bottom: 26px;
    .content {
        display: flex;
        flex-direction: column;
    }
    .content .questionText {
        margin-bottom: 26px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 1000px) {
            flex-direction: row;
            align-items: center;
            md-input-container {
                width: 90%;
            }
        }
        md-input-container {
            width: 100%;
        }
    }
    .addQuestionButton {
        @media (min-width: 1000px) {
            margin-left: 26px;
        }
    }
    .addQuestionButton:not(:disabled) {
        background-color: $accent;
    }
    .questionQuote {
        button {
            margin-left: 26px;
        }
    }
    .hasQuote {
        padding: 26px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        width: 200px;
        height: 100px;
        min-width: 50%;
        cursor: pointer;
        background-color: $primary;
        color: white;
        position: relative;

        .remove {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .hasQuote:hover {
        background-color: lighten($primary, 5%);
    }
}