<md-card class="addQuestion mat-elevation-z3">
  <md-card-header>
    <h1 class="cardTitle">Add Question</h1>
  </md-card-header>
  <md-card-content class="content">
    <section class="row questionText">
      <md-input-container floatPlaceholder="always">
        <textarea #characterCountInputHint mdInput maxlength="200" type="text" placeholder="Text" rows="3" [(ngModel)]="question.text">
      </textarea>
        <md-hint align="end" aria-live="polite">
          {{characterCountInputHint.value.length}} / 200
        </md-hint>
      </md-input-container>
      <button class="addQuestionButton" md-button md-raised-button [disabled]="!question.text.trim()" (click)="handleClick()">Create</button>
    </section>
    <section class="row questionQuote">
      <div class="noQuote" *ngIf="!question.quote">
        Associate a quote
        <button md-mini-fab md-button md-raised-button (click)="openQuotesBrowser(question)"><md-icon>add</md-icon>
        </button>
      </div>
      <div class="hasQuote" *ngIf="question.quote" (click)="removeQuote()" title="remove quote">
        {{selectedQuoteText}} <span class="remove"><md-icon>clear</md-icon></span>
      </div>
    </section>
  </md-card-content>
</md-card>