<h2 md-dialog-title>Quotes</h2>
<md-dialog-content>
  <div class="topicDropDown">
    <md-select placeholder="Topic" [(ngModel)]="currentTopic">
      <md-option *ngFor="let topic of topics" [value]="topic">
        {{ topic.name }}
      </md-option>
    </md-select>
    <button class="addQuoteButton" md-button (click)="safeClose()">Ok</button>
  </div>
  <div class="quoteList">
    <ul>
      <li *ngFor="let quote of currentTopic.quotes" 
      [ngClass]="{'selected': isSelectedQuote(quote)}" 
      (click)="toggleSelectedQuote(quote)"
      >
        <span class="quoteText truncate">{{quote.text}}</span>
      </li>
    </ul>
  </div>
  
  <div class="noQuotes" *ngIf="!currentTopic.quotes?.length">
    There are no quotes for this topic
  </div>

</md-dialog-content>