@import "~../../../../common/constants";
:host {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
md-dialog-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .title {
    flex: 1;
  }
}

md-select.topicDropDown {
  width: 100%;
  flex: 1;
}
.addQuoteButton {
  margin-left: 16px;
}

.addQuoteButton:not(:disabled) {
  background: $accent;
}

.quoteList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    margin-top: 16px;
  }
  li {
    padding: 26px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    @media (min-width: 729px) {
      width: calc(35% + 26px);
    }

    @media (min-width: 1000px) {
      width: calc(22% + 26px);
    }

    @media (min-width: 1400px) {
      width: calc(17% + 26px);
    }
  }
  li:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  li.selected {
    background-color: $primary;
    color: white;
  }
  li .author {
    color: rgba(0, 0, 0, 0.55);
  }
}

.mat-dialog-container {
  max-width: none !important;
}
