@import "~../../common/constants";
:host {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/images/pathToHeart.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -327px 0px;
}

.endSessionButton {
    position: absolute;
    top: 16px;
    right: 16px;

    i {
        font-size: 26px;
    }
}

.practiceSession {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .content {
        background-color: white;
        padding: 26px;
        margin: 16px;
        display: flex;
        flex-direction: column;
        width: 500px;
        box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        border-radius: 26px;
    }
    .questionText, .quoteText {
        margin-bottom: 16px;
    }
    .inputArea {
        flex-direction: column;
        display: flex;
        height: 100%;
        md-input-container {
            width: 100%;
            flex: 1;
        }
        textArea {
            height: 200px;
            max-height: 200px;
        }
        .actions {
            align-self: flex-end;
        }
        .saveButton:not(:disabled) {
            background-color: $accent;
        }
    }
}