<div class="loginComponent">
  <div class="content">
    <div class="banner">
      <h1 class="title"><a [routerLink]="['/landing']" title="Go to Landing Page">Wakeup Call App</a></h1>
      <small>Enrich your life through the power of questions</small>
      <div><img class="logo" src="/../../../assets/images/heart.png" alt='logo'></div>
    </div>
    <div class='LoginContainer'>
      <router-outlet>
      </router-outlet>
    </div>

  </div>
  <footer class="footer">
    <div>
      <p>WakeupCall App | 2017 | <a href="https://twitter.com/AlinaMihai90">Twitter</a> | <a href="https://github.com/WakeUpCallApp/wakeup/issues">Issues</a>
      </p>
    </div>
  </footer>
</div>
