@import "~../../common/constants";
.loginComponent {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: white;
    .content {
        margin: auto;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        padding: 26px;
        @media (min-width: 600px) {
            flex-direction: row;
        }
    }
    .banner {
        background-color: rgba(0, 0, 0, 0.32);
        padding: 80px;
        .backToLanding a {
            color: white;
            text-decoration: none;
        }
    }
    .LoginContainer {
        text-align: center;
        background-color: white;
        color: black;
        padding: 26px;
        margin-bottom: 42px;
        width: 91%;
        height: 100%;
        @media (min-width: 600px) {
            max-height: 550px;
            max-width: 300px;
            margin-bottom: 0px;
            height: inherit;
        }
    }
}

.title {
    font-size: 50px;
    margin-bottom: 10px;
}

.title a {
    color: white;
    text-decoration: none;
}

.title a:hover {
    border-bottom: 1px solid white;
}

.title+small {
    font-size: 16px;
}

img.logo {
    margin-top: 30px;
    height: 60px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    background-color: white;
    color: black;
    width: 100%;
}