@import "~../../common/constants";
$quote-color: rgba(255, 224, 98, 0.3);

.quotes {
    min-height: 70vh;
}
.card-header {
    display: flex;
    align-items: center;
    width: 100%;
    .title {
        flex: 1;
        word-wrap: break-word;
        word-break: break-all;

        small {
            font-weight: bold;
            color: $accent;
        }
    }
}

.addQuoteButton {
    z-index: 20;
    position: fixed;
    bottom: 84px;
    left: calc(100vw - 83px);
    mat-icon {
        margin: 0 auto;
    }
}

.quotesList {
    list-style: none;
    margin-left: 0px;
    padding-left: 0;
    li a {
        text-decoration: none;
        color: black;
        display: flex;
        background: 	$quote-color;
        flex-direction: column;
        padding: 16px;
        margin: 26px 0;
        min-height: 60px;
        position: relative;
        .text {
            font-size: 18px;
            flex: 1;
        }
        .author {
            color: $primary;
        }
    }
    li a:hover {
        background: darken(	$quote_color, 15%);
    }
    blockquote:before {
        top: -12px;
        left: -16px;
    }
}