@import "~../../common/constants";
  .card-header {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      .title {
          flex: 1;
          word-wrap: break-word;
          word-break: break-all;
      }
      .addQuoteButton {
          position: absolute;
          top: 27px;
          right: 46px;
      }
  }

  .quotesList {
      list-style: none;
      li a {
          text-decoration: none;
          color: black;
          display: flex;
          background: rgba(0,0,0, 0.05);
          flex-direction: column;
          padding: 16px;
          margin: 26px 0;
          min-height: 60px;
          .text {
              font-size: 18px;
              flex: 1;
          }
          .author {
              color: $primary;
          }
      }
  }