<div class="quotes pageContent">
  <wakeup-card>
    <div class="card-header">
      <div class="title">Quotes</div>
      <div class="actions">
        <button md-icon-button [mdMenuTriggerFor]="quotesMenu" title="open menu">
                       <md-icon>more_vert</md-icon>
                    </button>
        <md-menu #quotesMenu="mdMenu">
          <button md-menu-item> Import Quotes </button>
          <button md-menu-item> Export Quotes </button>
        </md-menu>
      </div>
    </div>
    <div class="card-body">
      <ul class="quotesList">
        <li *ngFor="let quote of quotes$ | async">
          <a [routerLink]="['/quoteDetails', quote.id]" title="see details">
              <span class="text">
              &ldquo; {{quote.text}} &ldquo;
              </span> 
              <span class="author">
              {{quote.author ? quote.author : 'Unknown'}}</span>
          </a>
        </li>
      </ul>
    </div>
  </wakeup-card>
</div>
<button mdRipple 
   (click)="goToCreateQuote()" 
   title="add quote" 
   class="addQuoteButton" 
   md-mini-fab 
   md-button 
   md-raised-button>
 <md-icon>add</md-icon>
</button>