<h2 mat-dialog-title>Session Settings</h2>
<mat-dialog-content>
  <form class="content">
    <div class="row">
      <h4>Please specify the time interval to be prompted with a question</h4>
      <mat-input-container floatPlaceholder="always">
        <input matInput type="number" min="0" step="any" placeholder="Question Interval(minutes)" [(ngModel)]="options.questionInterval"
          name="text" />
      </mat-input-container>
    </div>
    <div class="row otherOptions">
      <mat-slide-toggle name="repeatQS" [(ngModel)]="options.repeatQS">Loop Question Set?</mat-slide-toggle>
      <mat-slide-toggle name="shuffleQS" [(ngModel)]="options.shuffleQuestions">Shuffle Questions?</mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="cancelButton" mat-button mat-raised-button mat-dialog-close>Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button class="startButton" mat-button mat-raised-button (click)="handleClick()">
    Start
    </button>
</mat-dialog-actions>