@import "~../../common/constants";
.questionSets {
  .card-body {
    md-spinner {
      height: 50px;
      margin: 0 auto;
      margin-bottom: 16px;
    }
    .search {
      width: 100%;
      margin: 16px 0;
    }
  }
}
