<div class="questionSets pageContent">
  <wakeup-card>
    <div class="card-header">Question Sets</div>
    <div class="card-body">
      <md-tab-group>
        <md-tab label="All">
          <md-input-container class="search">
            <input mdInput [(ngModel)]="search" name="search" placeholder="search" (keyup)="doSearch($event.target.value)">
            <md-icon class="material-icons" mdSuffix>search</md-icon>
          </md-input-container>
          <md-spinner class="spinner" *ngIf="isLoading$ | async"></md-spinner>
          <span *ngIf="!(filteredList$|async)?.length">Nothing found</span>
          <wakeup-question-sets-list *ngIf="(filteredList$|async)?.length" [questionSets]="filteredList$ | async">
          </wakeup-question-sets-list>
        </md-tab>
        <md-tab label="Most Played">Content 2</md-tab>
      </md-tab-group>
    </div>
  </wakeup-card>
</div>