<div class="questionSets pageContent">
  <wakeup-card>
    <div class="card-header">Question Sets</div>
    <div class="card-body">
      <md-input-container class="search">
        <input mdInput [(ngModel)]="search" name="search" placeholder="search" (keyup)="doSearch($event.target.value)">
        <md-icon class="material-icons" mdSuffix>search</md-icon>
      </md-input-container>
      <div class="filter">
      <strong>Filter:</strong>
       <md-select [(ngModel)]="selectedFilter" (change)="doFilter()">
              <md-option [value]=all>
                All
              </md-option>
              <md-option [value]=mostPlayed >
                Most Practiced
              </md-option>
            </md-select>
      </div>

      <md-spinner class="spinner" *ngIf="isLoading$ | async"></md-spinner>
      <span *ngIf="!(filteredList$|async)?.length">Nothing found</span>
      <wakeup-question-sets-list *ngIf="(filteredList$|async)?.length" [questionSets]="filteredList$ | async">
      </wakeup-question-sets-list>
    </div>
  </wakeup-card>
</div>