<app-card>
  <div class="card-header">Question Sets</div>
  <div class="card-body">
    <mat-input-container class="search">
      <input matInput [(ngModel)]="search" name="search" placeholder="search" (keyup)="doSearch($event.target.value)">
      <mat-icon class="material-icons" matSuffix>search</mat-icon>
    </mat-input-container>
    <div class="filter">
      <strong>Filter:</strong>
      <mat-select [(ngModel)]="selectedFilter" (change)="doFilter()">
        <mat-option [value]=all>
          All
        </mat-option>
        <mat-option [value]=mostPlayed>
          Most Practiced
        </mat-option>
      </mat-select>
    </div>
    <mat-spinner class="spinner" *ngIf="isLoading$ | async"></mat-spinner>
    <span *ngIf="!(filteredList$|async)?.length">Nothing found</span>
    <app-question-sets-list *ngIf="(filteredList$|async)?.length" [questionSets]="filteredList$ | async">
    </app-question-sets-list>
  </div>
</app-card>