<md-toolbar *ngIf="loggedUser" class="mat-elevation-z5">
  <div class="left">
    <div class="openMenu">
      <button (click)="toggleSideNav()" md-mini-fab title="Show/Hide menu">
      <md-icon>menu</md-icon>
      </button>
    </div>
  </div>
  <div class="right">
    <div class="userProfile">
      <button md-button [mdMenuTriggerFor]="menu"><span class="greeting">Hello</span> {{loggedUser?.name}}
        <md-icon>keyboard_arrow_down</md-icon> 
        </button>
    </div>
    <md-menu #menu="mdMenu" [overlapTrigger]="false">
      <button md-menu-item>
                <div class="menu-section">
                     <div class="userInfo"> 
                       <a [routerLink]="['profile']"> View Profile</a>
                     </div>
                 </div>
            </button>
    </md-menu>
    <button md-button (click)="logoutUser()">Logout <i class="fa fa-sign-out"></i></button>
  </div>
</md-toolbar>