<md-toolbar *ngIf="loggedUser" class="mat-elevation-z5">
  <div class="left large-screen">
    <a routerLink="/questionSets" class="logo">
        <img src="/../../../assets/images/heart.png" alt='logo'>
        <span class="appName">WakeupCallApp</span>
    </a>
    <nav>
      <ul class='globalMenuLinks'>
        <li>
          <a routerLink="/questionSets" routerLinkActive="activeLink"> 
         Question Sets
        </a>
        </li>
        <li>
          <a routerLink="/topics" routerLinkActive="activeLink">
           Topics
          </a>
        </li>
        <li>
          <a routerLink="/newQuestionSet" routerLinkActive="activeLink"> 
        New Question Set
        </a>
        </li>
        <li>
          <a routerLink="/newTopic" routerLinkActive="activeLink">
          New Topic
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="left small-screen">
    <div class="openMenu">
      <button (click)="toggleSideNav()" md-mini-fab mdTooltip="Show/Hide menu">
      <md-icon>menu</md-icon>
      </button>
    </div>
  </div>
  <div class="right">
    <div class="userProfile">
      <button md-button [mdMenuTriggerFor]="menu"><span class="greeting">Hello</span> {{loggedUser?.name}}
        <md-icon>keyboard_arrow_down</md-icon> 
        </button>
    </div>
    <md-menu #menu="mdMenu" [overlapTrigger]="false">
      <button md-menu-item routerLink='/profile'>
        <div class="menu-section">
              <md-icon>perm_identity</md-icon> Profile
        </div>
     </button>
      <button md-menu-item>
        <div class="menu-section">
              <md-icon>language</md-icon> Change Language
        </div>
     </button>
    </md-menu>
    <button md-button (click)="logoutUser()">Logout <i class="fa fa-sign-out"></i></button>
  </div>
</md-toolbar>