@import "~../../../../common/constants";
.questionList {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: flex;
            align-items: center;
            min-height: 60px;
        }
    }
    .title {
        flex: 1;
    }
    .title>h1 {
        float: left;
    }
    .allQuestionsCheck {
        display: flex;
        align-items: center;
        md-checkbox {
            font-weight: normal;
            font-size: 14px;
            flex: 1;
        }
    }
    md-checkbox.questionCheckbox {
        display: flex;
        flex: 1;
        .questionTitle {
            word-break: break-all;
        }
    }
    .questionTitleLink {
        flex: 1;
        word-break: break-all;
        text-decoration: none;
        color: black;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
         transition: all .3s;
    }
    .questionTitleLink:hover{
        color: $primary;
        font-weight: bold;
        background: #fafafa;
    }
    .deleteQuestions:not(:disabled) {
        background-color: $accent;
    }
}