<md-card class="questionList mat-elevation-z3">
  <md-card-header>
    <div class="title">
      <h1 class="cardTitle">Questions</h1>
    </div>
  </md-card-header>
  <md-card-content class="list">
    <h3 class="allQuestionsCheck" *ngIf="canEdit">
      <md-checkbox [indeterminate]="indeterminate" [(checked)]="checked" (change)="toggleCheckAllQuestions()">
        <span *ngIf="!getSelectedQuestions().length">Select all</span>
        <span *ngIf="getSelectedQuestions().length">
              {{getSelectedQuestions().length}} Selected
        </span>
      </md-checkbox>
      <div class="actions">
        <button [disabled]="!canDelete()" class="deleteQuestions" md-button md-raised-button (click)="deleteQuestions()">Delete</button>
      </div>
    </h3>
    <ul>
      <li *ngFor="let question of questions; index as i">
        <md-checkbox *ngIf="canEdit" class="questionCheckbox" [(ngModel)]="question.checked">
          <span class="questionTitle">{{question.text}}</span>
        </md-checkbox>

        <a *ngIf="!canEdit" class="questionTitleLink" [routerLink]="['/answers', question.id]">
          <span class="title">{{i+1}} . {{question.text}}</span> 
          <span> <md-icon>keyboard_arrow_right</md-icon></span>
        </a>

        <button md-icon-button [mdMenuTriggerFor]="questionMenu" *ngIf="canEdit">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #questionMenu="mdMenu">
          <button md-menu-item (click)="editQuestion(question)"> Edit </button>
          <button md-menu-item (click)="openQuotes(question)"> Add/Remove Quote </button>
          <button md-menu-item [routerLink]="['/answers', question.id]"> See answers </button>
        </md-menu>
      </li>
    </ul>
  </md-card-content>
</md-card>