<md-card class="questionList mat-elevation-z3">
  <md-card-header>
    <div class="title">
      <h1 class="cardTitle">Question List</h1>
    </div>
    <div class="actions">
      <button class="questionListMenu" md-icon-button [mdMenuTriggerFor]="questionsMenu">
         <md-icon>more_vert</md-icon>
      </button>
      <md-menu #questionsMenu="mdMenu">
        <button md-menu-item> Import Questions </button>
        <button md-menu-item> Export Questions </button>
      </md-menu>
    </div>
  </md-card-header>
  <md-card-content class="list">
    <h3 class="allQuestionsCheck">
      <md-checkbox [indeterminate]="indeterminate" [(checked)]="checked" (change)="toggleCheckAllQuestions()">
        <span *ngIf="!getSelectedQuestions().length">Select all</span>
        <span *ngIf="getSelectedQuestions().length">
                           {{getSelectedQuestions().length}} Selected
                    </span>
      </md-checkbox>

      <div class="actions">
        <button [disabled]="!canDelete()" class="deleteQuestions" md-button md-raised-button (click)="deleteQuestions()">Delete</button>
      </div>
    </h3>
    <hr>
    <ul>
      <li *ngFor="let question of questions">
        <md-checkbox class="questionCheckbox" [(ngModel)]="question.checked">
          <span class="questionTitle">{{question.text}}</span>
        </md-checkbox>
        <button md-icon-button [mdMenuTriggerFor]="questionMenu">
                    <md-icon>more_vert</md-icon>
                    </button>
        <md-menu #questionMenu="mdMenu">
          <button md-menu-item (click)="editQuestion(question)"> Edit </button>
          <button md-menu-item> {{question.quote ? 'Remove Quote': 'Associate Quote'}} </button>
          <button md-menu-item> See answers </button>
        </md-menu>
      </li>
    </ul>
  </md-card-content>
</md-card>