<div class="topics pageContent">
  <wakeup-card>
    <div class="card-header">Topics</div>
    <div class="card-body">
      <md-input-container class="search">
        <input mdInput [(ngModel)]="search" name="search" placeholder="search" (keyup)="doSearch($event.target.value)">
        <md-icon class="material-icons" mdSuffix>search</md-icon>
      </md-input-container>
      <span *ngIf="!(filteredList$|async)?.length">Nothing found</span>
      <ul class="topicList">
        <li *ngFor="let topic of filteredList$ | async">
          <a mdRipple [routerLink]="['/topicDetails', topic.id]">
            <div class="info" md-line>
              <span class="title truncate">{{topic.name}}</span>
              <span class="summary"> 
              <span> <md-icon>list</md-icon> {{topic.questionSetIds?.length}} Question Sets</span>
              <span><md-icon> format_quote</md-icon>{{topic.quotes?.length}} Quotes</span>
              </span>
            </div>
            <div title="See quotes" (click)="goToQuotes($event, topic.id)" class="inspire">
              <span class="text">Get Inspired</span>
              <md-icon class="inspireIcon">lightbulb_outline</md-icon>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </wakeup-card>
</div>