@import "~app/common/constants";
/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

html,
body {
  font: 1em/1.5 Roboto, sans-serif;
}

.container {
  margin-bottom: 0;
}

.pageContent {
  margin: 0px auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
}

.cardTitle {
  font-size: 16px;
}

md-card-header {
  align-items: center;
  margin-bottom: 16px;
}

.card-footer {
  margin-left: 16px;
  margin-bottom: 16px;
}

textarea {
  /* will prevent resizing horizontally */
  resize: vertical;
}

.truncate {
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100%;
}

.mat-dialog-content {
  overflow: inherit !important;
}

.breadcrumbs {
  display: flex;
  padding: 16px;
  font-size: 14px;
  align-items: center;
}

.breadcrumbs md-icon {
  align-items: center;
}

.breadcrumbs a {
  color: $primary;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  color: darken($primary, 20%);
}

.breadcrumbs .currentLink {
  color: gray;
  font-weight: bold;
}

md-input-container, .mat-card-content {
  font-size: 17px !important;
}

.tooltip {
  width: 100%;
}

.spinner {
  position: sticky;
  z-index: 999;
  bottom: 50%;
  left: 50%;
}

.toast {

}

.success-toast {
 background-color: green !important;
}
.error-toast {
 background-color: red !important;
}