@import '~@angular/material/_theming.scss';

@include mat-core();

$wakeupcall-app-primary: mat-palette($mat-indigo);
$wakeupcall-app-accent:  mat-palette($mat-orange);


$wakeupcall-app-warn:    mat-palette($mat-red);


$wakeupcall-app-theme: mat-light-theme($wakeupcall-app-primary, $wakeupcall-app-accent, $wakeupcall-app-warn);


@include angular-material-theme($wakeupcall-app-theme);

