@import "~../../../../common/constants";
.delimiterLoginMethod {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 32px;
    color: gray;
}

i.fa-google-plus {
    margin-left: 0px;
    border-right: 0.5px solid white;
    margin-right: 8px;
    padding: 10px;
}

form.loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    button {
        width: 180px;
        align-self: center;
    }
    button.loginButton:not(:disabled) {
        background-color: $accent;
    }
    md-input-container {
        margin-bottom: 10px;
    }
    .errorMessage{
        color: $warn;
        padding-bottom: 10px;
    }
    .spinner {
        height: 50px;
        align-self: center;
    }
}

div.google {
    padding: 30px;
    button {
        color: #fff;
        background-color: #dd4b39;
        border-color: #c53727;
        width: 180px;
        padding-left: 0px;
    }
}

.usefulLinks {
    margin-top: 50px;
}

.usefulLinks a {
    color: black;
}

.usefulLinks a:hover {
    color: $primary;
}