<mat-card class="addComment mat-elevation-z3">
  <mat-card-header>
    <h1 class="cardTitle">Add Comment</h1>
  </mat-card-header>
  <mat-card-content class="content">
    <section class="row commentText">
      <mat-input-container floatPlaceholder="always">
        <textarea #characterCountInputHint matInput maxlength="500" type="text" placeholder="Text" rows="3" [(ngModel)]="commentObject.comment.text">
      </textarea>
        <mat-hint align="end" aria-live="polite">
          {{characterCountInputHint.value.length}} / 500
        </mat-hint>
      </mat-input-container>
      <button class="addCommentButton" mat-button mat-raised-button [disabled]="!commentObject.comment.text.trim()" (click)="handleClick()">Create</button>
    </section>
  </mat-card-content>
</mat-card>