@import "~../../../../common/constants";
.Question {
        margin-bottom: 26px;
        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            @media(min-width: 1000px) {
                flex-direction: row;
            }
            md-input-container {
                width: 90%;
            }
        }
        .saveQuestionButton {
            margin-left: 26px;
        }
        .saveQuestionButton:not(:disabled) {
            background-color: $accent;
        }
    }